$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    padding-left:30px;
    padding-right:30px;
  }

  .clickable {
    cursor:pointer;
  }
}

div.team-list {
  text-align: left;
  font-size: 20px;
}

div.team-list div {
  cursor:pointer;
  padding: 0px 0px 0px 20px;
}

div.team-list div:hover {
  background-color:#337ab7;
}

div.center-text {
  text-align: center;
}

input.error {
  color:red;
}

img.landru {
  background-color: white;
  padding: 20px;
  margin: 20px;
}

span.team-name-left {
  width:170px;
  display: inline-block;
  text-align:left;
}

span.team-name-right {
  width:170px;
  display: inline-block;
  text-align:right;
}

div.score-line:hover {
  background-color:#337ab7;
}

div.score-line {
  padding:1px;
  margin:1px;
  display:inline-block;
  width:550px;
}

input.score {
  width:45px;
}

ul.sub-menu {
  padding:5px;
}

span.smart-button {
  background-color: #819FF7;
  padding:2px 10px 2px 10px;
  border: 1px solid #819FF7;
}

span.smart-button:hover {
  border: 1px solid blue;
}

span.save:hover {
  color:#337ab7;
}

span.filled {
  font-weight: bold;
}

span.looser {
  color: red;
}

span.winner {
  color: green;
}

span.rank-login {
  display:inline-block;
  width:200px;
}

span.rank-points {
  display:inline-block;
  width:200px;
}

div.rank-header {
  font-weight: bold;
  border-bottom: 1px solid #bbbbbb;
}

div.rank {

}

div.rank:hover {
  background-color:#337ab7;
}