.flag-icon-england {
  background-image: url(../flags/4x3/england.svg);
}

.flag-icon-brittany {
  background-image: url(../flags/4x3/brittany.svg);
}

.flag-icon-corsica {
  background-image: url(../flags/4x3/corsica.svg);
}

.flag-icon-wales {
  background-image: url(../flags/4x3/wales.svg);
}

.flag-icon-ulster {
  background-image: url(../flags/4x3/ulster.svg);
}

.flag-icon-scotland {
  background-image: url(../flags/4x3/scotland.svg);
}
