
<alert ng-show="alert" type="{{alert.type}}" close="closeAlert()">{{alert.message}}</alert>
<ul class="nav nav-pills sub-menu">
  <li ng-repeat="(key, menuItem) in menu" ng-class="{active:menuItem.active}"><a class="clickable" ng-click="setMenu(key)">{{menuItem.caption}}</a></li>
</ul><span ng-show="saving" style="float:left">saving ...</span>
<div ng-show="menu.myForecast.active">
	<div class="jumbotron" ng-repeat='group in matches' ng-class="{notSaved:(saveRequired)}">
		<h2></span> {{group.groupName}} </span></h2>
		<div>
			<div ng-repeat="match in group.matches">
				
				<div class="score-line" ng-if="!match.expired">
					<div style="display:inline-block;font-size:10px;width:50px">{{match.date | date:"dd/MM/yy HH:mm"}}</div>
					<span class="team-name-right" ng-class="{filled:(match.forecast[0]), winner:(match.forecast[0]>match.forecast[1]), looser:(match.forecast[0]<match.forecast[1])}">
						<span class="flag-icon {{getTeamClass(match.teams[0])}}"></span> {{getTeamName(match.teams[0])}} <img ng-if="getTeamImg(match.teams[0])" ng-src="/images/{{getTeamImg(match.teams[0])}}" height="20px"/>
					</span>
					<input type="number" ngMaxlength="3" class="score" ng-model="match.forecast[0]" min="0" ng-change="change(true)"/>
					-
					<input type="number" ngMaxlength="3" class="score" ng-model="match.forecast[1]" min="0" ng-change="change(true)"/>
					<span class="team-name-left" ng-class="{filled:(match.forecast[1]), winner:(match.forecast[1]>match.forecast[0]), looser:(match.forecast[1]<match.forecast[0])}">
						<img ng-if="getTeamImg(match.teams[1])" ng-src="/images/{{getTeamImg(match.teams[1])}}" height="20px"/> {{getTeamName(match.teams[1])}} <span class="flag-icon {{getTeamClass(match.teams[1])}}"></span>
					</span>
				</div>

				<div class="score-line match-done" ng-if="match.expired">
					<span class="little">{{match.forecast[0]}}</span>
					<span class="team-name-right" ng-class="{winner:(match.score[0]>match.score[1]), looser:(match.score[0]<match.score[1])}">
						 {{getTeamName(match.teams[0])}} 
					</span>
					<span class="flag-icon {{getTeamClass(match.teams[0])}}"></span>
					<span class="final-score" >{{match.score[0]}}</span>
					-
					<span class="final-score" >{{match.score[1]}}</span>
					<span class="flag-icon {{getTeamClass(match.teams[1])}}"></span>
					<span class="team-name-left" ng-class="{winner:(match.score[1]>match.score[0]), looser:(match.score[1]<match.score[0])}">
						{{getTeamName(match.teams[1])}} 
					</span>
					<span class="little">{{match.forecast[1]}}</span>
				</div>


				<span class="glyphicon glyphicon-floppy-disk save clickable" ng-click="saveAll()" ng-if="!match.expired"></span>
			</div>
		</div>
	</div>
</div>

<div ng-show="menu.results.active">
	<div class="jumbotron">
		<div class="rank-header">
			<span class="rank-login">Friends</span>
			<span class="rank-point">Points</span>
		</div>
		<div ng-repeat="rank in ranking" class="rank">
			<span class="rank-login">{{rank.login}}</span>
			<span class="rank-point">{{rank.points}}</span>
		</div>
	</div>
</div>
