<div class="modal-header">
    <h3 class="modal-title">Connect</h3>
</div>
<div class="modal-body" ng-hide="connecting">
    <div class="form-group">
        <input type="text" ng-model="user" placeholder="User"/>
    </div>
    <div class="form-group">
        <input type="password" ng-model="password" placeholder="Password" />
    </div>
</div>
<div class="modal-body" ng-show="connecting">
    Connecting ...
    </div>
<div class="modal-footer" ng-hide="connecting">
    <button class="btn btn-primary" ng-click="ok()">{{label}}</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
